:root{
    --fundo: #008B8B;
    --cartão-frente: #48d1cc;
    --cartão-verso: #40e0d0;
    --destaque: #7fffd4;
    --preto: #000000;
    --branco: #ffffff;
}

body{
    background-color: var(--fundo);
}

header{
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    background-color: var(--preto);
}
header a{
    color: var(--branco);
    text-decoration: none;
}

footer{
    position: fixed;
    bottom: 0;
    background-color: var(--preto);
    color: var(--branco);
    width: 100%;
    text-align: center;
}

#container{
    padding: 40px;
    display: grid;
    gap: 2rem;
}

.cartao{
    background-color: var(--cartão-frente);
    padding: 40px;
box-shadow: 5px 5px 5px var(--preto);
cursor: pointer;
}

.cartao:hover{
    transform: scale(1.04);
}

.resposta-cartao{
    background-color: var(--cartão-verso);
    padding: 40px;
    display: none;
}