:root{
    --fundo: #008B8B;
    --cartão-frente: #48d1cc;
    --cartão-verso: #40e0d0;
    --destaque: #7fffd4;
    --preto: #000000;
    --branco: #ffffff;
}

body{
    background-color: var(--fundo);
}