:root{
    --fundo: #008B8B;
    --cart達o-frente: #48d1cc;
    --cart達o-verso: #40e0d0;
    --destaque: #7fffd4;
    --preto: #000000;
    --branco: #ffffff;
}

body{
    background-color: var(--fundo);
}

footer{
    position: fixed;
    bottom: 0;
    background-color: var(--preto);
    color: var(--branco);
    width: 100%;
    text-align: center;
}

#container{
    padding: 4rem;
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
}

.cartao{
    background-color: var(--cart達o-frente);
    flex-grow: 1;
    flex-basis: calc(33% - 6rem);
    height: 20rem;
    margin: 1rem;
}
.conteudo-cartao{
    background-color: var(--cart達o-frente);
    height: 100%;
    text-align: center;
    transform-style: preserve-3d;
    transition: transform 300ms ease-in-out;
}

.conteudo-cartao h3{
    position: absolute;
    text-align: left;
    color: var(--destaque);
    border: 1px solid var(--destaque);
    border-radius: 3rem;
    margin: 0.6rem;
    padding: 0.6rem;
    font-size: 1vw;
    backface-visibility: hidden;
}

.conteudo-cartao p{
    font-size: 1.4vw;
    margin-top: 4rem;
    padding: 2rem
}
.pergunta-cartao{
    font-weight: 500;
}

.resposta-cartao{
    font-weight: 700;
    color: var(--destaque);
}

.cartao:hover .conteudo-cartao{
    transform: rotateY(180deg);
}
.pergunta-cartao,
.resposta-cartao{
    backface-visibility: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
}