:root{
    --fundo: #008B8B;
    --cart達o-frente: #48d1cc;
    --cart達o-verso: #40e0d0;
    --destaque: #7fffd4;
    --preto: #000000;
    --branco: #ffffff;
}

body{
    background-color: var(--fundo);
}

footer{
    position: fixed;
    bottom: 0;
    background-color: var(--preto);
    color: var(--branco);
    width: 100%;
    text-align: center;
}

#container{
    padding: 4rem;
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
}

.cartao{
    background-color: var(--cart達o-frente);
    flex-grow: 1;
    flex-basis: calc(33% - 6rem);
    height: 20rem;
    margin: 1rem;
}
.conteudo-cartao{
    background-color: var(--cart達o-frente);
    height: 100%;
    text-align: center;
}